<div class="navbar navbar-default">
       <div class="navbar-header">
         <a class="navbar-brand" href="@{admin.Admin.index()}">Administration</a>
       </div>
       <div class="collapse navbar-collapse">
	         <ul class="nav navbar-nav">
	          <li><a href="@{admin.Boards.list()}">板块管理</a></li>
	          <li><a href="@{admin.Users.list()}">用户管理</a></li>
	          <li><a href="@{admin.Resources.list()}">访问资源</a></li>
	         </ul>
	         <ul class="nav navbar-nav navbar-right">
	           <li><a href="@{Application.index()}">返回前台首页</a></li>
	         </ul>
      </div>
</div>