.panel-body {
  padding: 0;
}

#user-register-form {
	padding: 25px 120px
}

#user-login-form {
  padding: 10px 100px;
}

#home-page {
	margin: 80px 50px;
}

.reply-item {
	margin: 10px 0;
	border-bottom: 1px #CCC solid;
	border-top: 1px #CCC solid;
}

.reply-title, .topic-title {
	padding: 4px 10px;
	background-color: #EEE;
	margin-bottom: 0;
	border-bottom: 1px solid lightgray;
}

.topic-body {
	padding: 20px;
}

.reply-body {
	padding: 10px;
}

.reply-date, .topic-date, .message-btn {
	padding-left: 20px;
	font-size: 12px;
	color: gray;
}

.topic-list {
	overflow: hidden;
	width: 350px;
}

.topic-links {
	cursor: pointer;
}

#wmd-preview-reply {
	border: 1px solid #EEE;
	clear: both;
}

.page-nav {
	text-align: center;
}

.page-nav ul {
	margin: -10px 0 0 0;
}

.reply-page-bottom-nav {
	text-align: right;
}

.reply-page-top-nav {
	text-align: right;
	margin-top: 5px;
}

.reply-page-bottom-nav ul,.reply-page-top-nav ul {
	margin: 0;
}

.reply-btn{
	float: left;
  margin: 3px 0 0px 5px;
}
